html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ffc600;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.words {
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  padding: 1rem 2rem 1rem 5rem;
  background-image: linear-gradient(
    transparent, 
    transparent 2rem, 
    #ebf2fc 2rem, 
    #ebf2fc 2.2rem, 
    transparent 2.2rem
  );
  background-size: 100% 2.2rem;
  line-height: 2.2rem;
  position: relative;
  min-height: 300px;
}

.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid #ffb2b2;
  border-top: none;
  border-bottom: none;
}

p {
  margin: 0 0 2.2rem 0;
}