*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  
  background: linear-gradient(135deg, #ff7a00, #1b1b1b);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  max-width: 750px;
  border: 4px solid #ff7a00;
  box-shadow: 0 0 25px rgba(255,122,0,0.7);
  background: #000;
}

.viewer {
  width: 100%;
}

.player__controls {
  display: flex;
  align-items: center;
  background: #111;
  padding: 10px;
}

.player__button {
  background: none;
  border: none;
  color: #ffcc00;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
}

.player__slider {
  width: 100px;
}

.progress {
  flex: 1;
  height: 6px;
  background: #333;
  cursor: pointer;
  display: flex;
}

.progress__filled {
  width: 0;
  background: #ffcc00;
  flex: 0;
}